[submodule "wes-workflow"]
	path = wes-workflow
        url = https://github.com/biominer-apps/quartet-wesqc-report
[submodule "wgs-workflow"]
	path = wgs-workflow
	url = https://github.com/biominer-apps/quartet-wgsqc-report
